body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: whitesmoke;
    color: #F5F5F5;
}

.container {
    height: auto;
    max-width: 1920px;
    margin: 0 auto;
    background-color: whitesmoke;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Header */
header , footer{
    height: 96px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FF0000;
    color: whitesmoke;
}

header img {
    width: 50px;
    height: 50px;
    margin: 20px;
}

.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Search Bereich*/
.search-wrap {
    display: flex;
    align-items: center;
    width: 600px;
    gap: 16px;
    position: relative;
    background-color:#ffffff;
    border-radius: 16px;
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.25) inset;
    height: 32px;
    gap: 8px;
    margin-right: 25px;
}

.search-wrap > input {
    width: 80%;
    border: none;
}
.search-icon {
    margin-left: 16px;
    height: 25px;
    width: 25px;
}

.search-wrap svg path {
    fill: #dc0a2d;
}

input {
    font-size: 18px;
}

/* Hauptbereich */
main {
    padding: 20px;
    flex: 1; 
    overflow-y: auto;
}

footer {
    height: 96px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF0000;
    text-align: center;
}

.load-more{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #42A5F5;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

h1 {
    font-size: 2rem;
    color: whitesmoke;
}

p {
    font-size: 1rem;
    margin: 0px 0px 5px 0px;
}

h3 {
    margin: 0px;
}

#pokemonGallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    color: whitesmoke;
    
}

/*Pokemon Karte Hintergrund*/
.thumbnail {
    height: 280px;
    width: 200px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #ddd;
    text-align: center;
    color: #fff;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.thumbnail:hover {
    border-color: #FFD700;
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/*Pokemon Karte Bild*/
.thumbnail img {
    width: 200px;
    height: 200px;
    margin:0px;
    object-fit: contain;
    cursor: pointer;
}

/*Pokemon Karte Groß Hintergrund*/
.card-total {
    border-radius: 10px;
    border: 5px solid #DBD7D2;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

#close {
    padding: 10px;
}

.card {
    height: 700px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-behavior: smooth; /* Für sanftes Scrollen */
}

.pokemon-big-picture{
    width: 350px;
    height: 350px;
    margin:0px;
    border: 5px solid #DBD7D2;
    border-radius: 5px;
}

h2{
    margin: 0;
}

.pokemon-info-chart {
    background-color: white;
    color: black;
    padding: 5px;
    width: 80%;
    margin: 25px 0;
    border-radius: 10px;
}

.card-nav img{
    width: 25px;
    height: 25px;
}


#loadingScreen {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

#loadingScreen img {
    width: 500px;
    height: 400px;
}

#loadMore:hover {
    background-color: #1E88E5;
    transform: scale(1.05);
}

#lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

#lightbox.hidden {
    display: none;
}

#lightboxContent {
    position: relative;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 95%;
    max-height: 95%;
    overflow-y: auto;
    z-index: 1001;
}

@media (max-width: 900px) {
    header {
        height: 150px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
    }
    
    .search-wrap {
        width: 400px;
        margin: 0;
    }
    
    .search-wrap > input {
        width: 60%;
    }
    
}

@media (max-width: 600px) {
    .card {
        width: 250px;
        height: 500px;
    }

    .pokemon-big-picture{
        width: 200px;
        height: 200px;
    }
    
    .pokemon-info-chart {
        height: 200px;
        margin: 10px 0px;
    }
    
    .card-nav img{
        width: 25px;
        height: 25px;
    }
}

@media (max-width: 450px) {
    .search-wrap {
        width: 250px;
    }
    
    .search-wrap > input {
        width: 50%;
    }
}